.faq-container {
  margin-top: 75px;
}
.faq-item-header:hover {
  cursor: pointer;
  background-color: #d9d9d9;
  color: hsl(0, 94%, 66%);
}
.faq-heading-container h3 {
  font-family: var(--font-main);
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.faq-heading-container p {
  font-family: var(--font-main);
  width: 440px;
  text-align: center;
  margin: auto;
  color: rgba(0, 0, 0, 0.65);
}
.faq-content-dropdown {
  margin-top: 50px;
}
.faq-item {
  width: 600px;
  margin: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.faq-item:nth-child(4) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.faq-item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.faq-item-header h3 {
  font-family: var(--font-main);
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 25px;
}
.faq-item-header img {
  height: 15px;
  width: 20px;
  margin-top: 27px;
}
.faq-item-content p {
  margin-top: 0;
  font-family: var(--font-main);
  color: rgba(0, 0, 0, 0.65);
  line-height: 1.85;
  padding-left: 20px;
  padding-right: 20px;
}
.faq-item-content p.hidden {
  display: none;
}
.faq-more-btn {
  padding: 15px 35px 15px 30px;
  color: #fff;
  background-color: hsl(231, 69%, 60%);
  border: none;
  border-radius: 5px;
  margin: 30px auto 0 auto;
  display: block;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  transition: all 0.15s ease;
}
.faq-more-btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}
@media only screen and (max-width: 425px) {
  .faq-item {
    width: 350px;
  }
  .faq-heading-container p {
    width: 300px;
  }
}
