.faq-heading-container h3 {
  font-family: var(--font-main);
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.faq-heading-container p {
  font-family: var(--font-main);
  width: 440px;
  text-align: center;
  margin: auto;
  color: rgba(0, 0, 0, 0.65);
}
.faq-item-header {
  display: flex;
  flex-direction: row;
}
.faq-item-header h3 {
  font-family: var(--font-main);
}
.faq-item-header img {
  height: 15px;
  width: 20px;
}
.faq-item-content p {
  font-family: var(--font-main);
}
