.tab-container {
  width: max-content;
  margin: 50px auto 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.tab-container button {
  font-family: var(--font-main);
  font-size: 16px;
  color: rgba(0, 0, 0, 0.55);
  padding: 30px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #fff;
  transition: all 0.22s ease;
}
.tab-container button.active {
  cursor: pointer;
  border-color: hsl(0, 94%, 66%);
  color: rgba(0, 0, 0, 1);
}
.tab-container button:hover {
  cursor: pointer;
  border-color: hsl(0, 94%, 66%);
  color: hsl(0, 94%, 66%);
}
.tabcontent {
  display: flex;
  flex-direction: row;
  column-gap: 75px;
  width: max-content;
  margin: 75px auto 0 auto;
  transition: all 0.15s ease;
}
.tabcontent.hidden {
  display: none;
}
.tabcontent img {
  position: relative;
  z-index: 2;
  width: 450px;
}
.tabcontent-right h3 {
  font-family: var(--font-main);
  font-size: 24px;
  margin-top: 65px;
  font-weight: 500;
}
.tabcontent-right p {
  font-family: var(--font-main);
  width: 385px;
  color: rgba(0, 0, 0, 0.55);
  line-height: 1.5;
}
.tabcontent-right button {
  font-family: var(--font-main);
  color: #fff;
  padding: 13px 25px 13px 25px;
  border: none;
  border-radius: 5px;
  background-color: hsl(231, 69%, 60%);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.15s ease;
}
.tabcontent-right button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.features-blue-block {
  position: relative;
  bottom: 200px;
  right: 100px;
  margin-bottom: -200px;
  z-index: 1;
  width: 450px;
  height: 250px;
  background-color: hsl(231, 69%, 60%);
  border-radius: 0 100px 100px 0;
}
@media only screen and (max-width: 768px) {
  .tabcontent {
    flex-direction: column;
  }
}
