.extension-container .top-side h3 {
  font-family: var(--font-main);
  text-align: center;
  margin-top: 125px;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 500;
}
.extension-container .top-side p {
  font-family: var(--font-main);
  width: 500px;
  text-align: center;
  margin: 20px auto 0 auto;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
}
.bottom-side {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  justify-content: center;
  margin-top: 75px;
}
.feature-card {
  width: 195px;
  height: max-content;
  overflow: hidden;
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.15s ease;
}
.feature-card:nth-child(2) {
  margin-top: 20px;
}
.feature-card:nth-child(3) {
  margin-top: 40px;
}
.feature-card img.download-logo {
  display: block;
  margin: auto;
}
.feature-card:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.feature-card h3 {
  font-family: var(--font-main);
  text-align: center;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
}
.feature-card p {
  font-family: var(--font-main);
  font-size: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
}
.feature-card button {
  font-family: var(--font-main);
  padding: 15px 25px;
  margin-top: 10px;
  border: none;
  border-radius: 7px;
  background-color: hsl(231, 69%, 60%);
  color: #fff;
}
.feature-card button:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
