.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  max-width: 1300px;
  margin: auto;
}
.left-navbar {
  margin-top: 35px;
}
.right-navbar {
  margin-top: 25px;
}
.right-navbar ul {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}
.right-navbar ul li {
  list-style-type: none;
  font-family: var(--font-main);
  font-size: 14px;
  transition: all 0.15s ease;
}
.right-navbar ul li:hover {
  cursor: pointer;
  color: hsl(0, 94%, 66%);
}
.right-navbar ul li button {
  padding: 10px 30px 10px 30px;
  margin-top: -10px;
  font-weight: 500;
  font-family: var(--font-main);
  letter-spacing: 1px;
  border: 2px solid hsl(0, 94%, 66%);
  border-radius: 5px;
  background-color: hsl(0, 94%, 66%);
  color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.15s ease;
}
.right-navbar ul li button:hover {
  border: 2px solid hsl(0, 94%, 66%);
  background-color: #fff;
  color: hsl(0, 94%, 66%);
  cursor: pointer;
}
.hamburger-icon {
  display: none;
}
@media only screen and (max-width: 425px) {
  .left-navbar {
    margin-top: 37px;
  }
  .navbar-btn {
    display: none;
  }
  .hamburger-icon {
    display: block;
    margin-right: 25px;
  }
}
