.features-container {
  display: flex;
  flex-direction: column;
}
.features-container h2 {
  font-family: var(--font-main);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
  font-size: 34px;
}
.features-container p {
  font-family: var(--font-main);
  width: 480px;
  text-align: center;
  margin: 20px auto 0 auto;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
}
