.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: hsl(229, 31%, 21%);
  padding-left: 75px;
  padding-right: 75px;
  height: 60px;
}
.footer-left {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}
.footer-left img {
  margin-top: 18px;
  width: 150px;
  height: 25px;
}
.footer-left p {
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 400;
  margin-top: 26px;
}
.footer-left p:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
}
.footer-right {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin-top: 18px;
}
.footer-right img {
  width: 25px;
  height: 25px;
}
.footer-right img:hover {
  cursor: pointer;
}
