.footer-container {
  background-color: hsl(229, 31%, 21%);
  height: 60px;
  width: 100%;
}
.footer-container .footer-width {
  width: 80%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-left {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}
.footer-left img {
  margin-top: 18px;
  width: 150px;
  height: 25px;
}
.footer-left p {
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 400;
  margin-top: 26px;
}
.footer-left p:hover {
  cursor: pointer;
  color: hsl(0, 94%, 66%);
}
.footer-right {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin-top: 18px;
}
.footer-right img {
  width: 25px;
  height: 25px;
}
.footer-right img:hover {
  cursor: pointer;
}
@media only screen and (max-width: 425px) {
  .footer-container {
    height: max-content;
  }
  .footer-container .footer-width {
    flex-direction: column;
  }
  .footer-left {
    padding-top: 25px;
    flex-direction: column;
    align-items: center;
  }
  .footer-right {
    justify-content: center;
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 320px) {
  .footer-right {
    margin-top: 35px;
  }
}
