.fullmenu-container {
  width: 100vw;
  height: 100vh;
  background-color: hsl(229deg 31% 21% / 75%);
}
.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.heading img:nth-child(1) {
  height: 25px;
  width: 150px;
}
.menu ul {
  width: 80%;
  margin: auto;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.menu ul li {
  list-style: none;
  font-family: var(--font-main);
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.menu ul button {
  width: 75%;
  height: 40px;
  margin: auto;
  display: block;
  border: 2px solid #fff;
  color: #fff;
  font-size: 28px;
  background-color: transparent;
}
.fullmenu-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
}
